.egg {
    position: relative;
    display: block;
    width: 270px;
    height: 350px;
}

.egg-white {
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: white;
    border: black 5px solid;
}

.egg-yolk {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    height: 50%;
    border-radius: 50%;
    background: darkorange;
    border: none;
}